.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper,
.item-wrapper .mbr-overlay {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: Inter Tight;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: Inter Tight;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: Inter Tight;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: Inter Tight;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: Inter Tight;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #9fe870 !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffea64 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
  color: #264d0c !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #264d0c !important;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  color: #d70081 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #d70081 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  color: #645600 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #645600 !important;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #9fe870;
  color: #9fe870;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #6ddc25 !important;
  background-color: transparent !important;
  border-color: #6ddc25 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #264d0c !important;
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffd7ef;
  color: #ffd7ef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff80cc !important;
  background-color: transparent !important;
  border-color: #ff80cc !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffea64;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffde0d !important;
  background-color: transparent !important;
  border-color: #ffde0d !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #9fe870 !important;
}
.text-secondary {
  color: #ffd7ef !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffea64 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #66d022 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff71c6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #9fe870;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #9fe870;
  border-color: #9fe870;
  color: #306310;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #9fe870;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: Inter Tight;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #9fe870 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: Inter Tight;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #9fe870;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #9fe870;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #9fe870;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #9fe870;
  border-bottom-color: #9fe870;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000 !important;
  background-color: #9fe870 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000 !important;
  background: #ffd7ef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%239fe870' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.title-3-pink {
  font-family: Inter Tight;
  font-size: 1.4rem;
  line-height: 1.5;
}
.title-3-pink > .mbr-iconfont {
  font-size: 1.4rem;
}


.cid-vaxS9hiW5t {
  background-image: url("../_images/background3.jpg");
}
.cid-vaxS9hiW5t .mbr-fallback-image.disabled {
  display: none;
}
.cid-vaxS9hiW5t .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vaxS9hiW5t .number-wrap {
  color: #ffffff;
  text-align: center;
}
.cid-vaxS9hiW5t .number {
  color: #ffffff;
}
.cid-vaxS9hiW5t .period {
  display: block;
}
.cid-vaxS9hiW5t .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-vaxS9hiW5t .period {
    font-size: 0.8rem;
  }
}
.cid-vaxS9hiW5t .btn {
  height: 100%;
  margin: 0;
}
.cid-vaxS9hiW5t .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-vaxS9hiW5t .mbr-section-title {
  color: #000000;
}
.cid-vaxS9hiW5t .mbr-text {
  color: #ffffff;
}
.cid-vaxS9hiW5t .icons-menu .soc-item .mbr-iconfont {
  font-size: 2rem;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  border: 2px solid @socialIconColor;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
  &:before: {'padding': '0.6rem'};
  &:hover: {'background-color': '@socialIconColor', 'color': 'contrast(@socialIconColor)'};
}
.cid-vaxS9hiW5t .icons-menu .soc-item {
  padding-left: 8px;
  padding-right: 8px;
}
.cid-vaxS9hiW5t .mbr-text, .mbr-section-btn {
  color: #232323;
}

.cid-vaxUz0TXKP {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.cid-vaxUz0TXKP {
  background-color: #ffffff;
}
.cid-vaxUz0TXKP .mbr-fallback-image.disabled {
  display: none;
}
.cid-vaxUz0TXKP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vaxUz0TXKP .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vaxUz0TXKP .row {
  flex-direction: row-reverse;
}
.cid-vaxUz0TXKP {
  img: {'width': '100%'};
}

.cid-vaxWI8Cfue {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}

.cid-vaxWKSfORq {
  background-color: #ffffff;
}
.cid-vaxWKSfORq .mbr-fallback-image.disabled {
  display: none;
}
.cid-vaxWKSfORq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vaxWKSfORq .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-vaxWKSfORq .timeline-element {
  position: relative;
}
.cid-vaxWKSfORq .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-vaxWKSfORq .iconBackground {
  position: absolute;
  left: 33.33%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid @lineColor;
  top: 30px;
  margin-left: -9px;
  padding: 0;
}
.cid-vaxWKSfORq .separline:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: ;
  width: 2px;
  background-color: #6592e6;
  left: 33.33%;
  height: calc(100% ~"+" 30px);
}
@media (max-width: 767px) {
  .cid-vaxWKSfORq .iconBackground {
    left: 15px !important;
  }
  .cid-vaxWKSfORq .separline:before {
    left: 15px !important;
  }
}
.cid-vaxWKSfORq .mbr-section-title, .mbr-section-subtitle {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-vaxWKSfORq .time-line-date-content .mbr-timeline-date {
    text-align: center;
  }
  .cid-vaxWKSfORq .time-line-date-content {
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-vaxWKSfORq .time-line-date-content .mbr-timeline-date {
    text-align: right;
  }
  .cid-vaxWKSfORq .time-line-date-content {
    margin-right: 1rem;
  }
}
.cid-vaxWKSfORq .timeline-text-content {
  margin-left: 2rem;
}
.cid-vaxWKSfORq .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-vaxWKSfORq .mbr-timeline-date {
  text-align: right;
}
.cid-vaxWKSfORq .mbr-text {
  color: #000000;
}
.cid-vaxWKSfORq {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cid-vaxWMIcpBD .mbr-fallback-image.disabled {
  display: none;
}
.cid-vaxWMIcpBD .mbr-fallback-image {
  background-image: url(@fallBackImage);
}
.cid-vaxWMIcpBD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-vaxWMIcpBD .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-vaxWMIcpBD .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-vaxWMIcpBD .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-vaxWMIcpBD .item-wrapper {
  border-radius: 4px;
  background-color: #ffffff;
}
.cid-vaxWMIcpBD .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-vaxWMIcpBD .item:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-vaxWMIcpBD {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cid-vaxWNF79VE {
  background-color: #ffffff;
}
.cid-vaxWNF79VE .mbr-fallback-image.disabled {
  display: none;
}
.cid-vaxWNF79VE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vaxWNF79VE .top-line {
  justify-content: space-between;
}
.cid-vaxWNF79VE .top-line {
  display: flex;
}
.cid-vaxWNF79VE .mbr-section-title, .mbr-section-subtitle {
  text-align: center;
}
.cid-vaxWNF79VE .item:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-vaxWNF79VE .item-wrapper {
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-vaxWNF79VE .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-vaxWNF79VE .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-vaxWNF79VE .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-vaxWNF79VE .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-vaxWNF79VE {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cid-vaxWP4eHb4 {
  background-color: #fafafa;
}
.cid-vaxWP4eHb4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-vaxWP4eHb4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vaxWP4eHb4 .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-vaxWP4eHb4 .currentcost {
  color: #232323;
}
.cid-vaxWP4eHb4 .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-vaxWP4eHb4 .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-vaxWP4eHb4 .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-vaxWP4eHb4 .text-box {
    padding: 1rem;
  }
}
.cid-vaxWP4eHb4 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-vaxWP4eHb4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cid-vaxWR3T8RZ {
  background-color: #ffffff;
}
.cid-vaxWR3T8RZ .item:focus, span:focus {
  outline: none;
}
.cid-vaxWR3T8RZ .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-vaxWR3T8RZ .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-vaxWR3T8RZ .item {
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .cid-vaxWR3T8RZ .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-vaxWR3T8RZ .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-vaxWR3T8RZ .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vaxWR3T8RZ .mbr-section-btn {
  margin-top: auto !important;
}
.cid-vaxWR3T8RZ .mbr-section-title {
  color: #232323;
}
.cid-vaxWR3T8RZ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  img, .item-img: {'width': '100%', '& when (@autoSize)': {'height': '100%', 'object-fit': 'cover', '& when (@showCardTitle)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showCardSubtitle)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showText)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showButtons)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}}};
}

@media (min-width: 768px) {
  .cid-vay2VIYpLk .row {
    justify-content: flex-start;
  }
  .cid-vay2VIYpLk .content-wrap {
    padding: 1rem 3rem;
  }
  .cid-vay2VIYpLk {
    align-items: flex-end;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vay2VIYpLk .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vay2VIYpLk .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vay2VIYpLk .content-wrap {
    width: 100%;
  }
  .cid-vay2VIYpLk {
    -webkit-align-items: center;
    align-items: flex-end;
  }
}
.cid-vay2VIYpLk .mbr-fallback-image.disabled {
  display: none;
}
.cid-vay2VIYpLk .mbr-fallback-image {
  background-image: url(@fallBackImage);
}
.cid-vay2VIYpLk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vay2VIYpLk .mbr-section-title, .mbr-section-subtitle {
  text-align: left;
  color: #ffc091;
}
.cid-vay2VIYpLk .mbr-text, .mbr-section-btn {
  text-align: left;
}
.cid-vay2VIYpLk {
  display: flex;
}

.cid-vay2VIZRVz {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.cid-vay2VIZRVz {
  background-color: if(@transparentBg, transparent, @bg-value);
}
.cid-vay2VIZRVz .mbr-fallback-image.disabled {
  display: none;
}
.cid-vay2VIZRVz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vay2VIZRVz .row-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-vay2VIZRVz .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vay2VIZRVz .row {
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-vay2VIZRVz .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-vay2VIZRVz .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-vay2VIZRVz .mbr-section-title {
  color: #000000;
}
.cid-vay2VIZRVz .mbr-text, .mbr-section-btn {
  color: #000000;
}
.cid-vay2VIZRVz {
  img: {'width': '100%', '& when (@autoSize)': {'object-fit': 'cover', 'height': '(@imageHeight * 10rem)', '@media (max-width: 767px)': {'height': '(@imageHeight * 5rem)'}}, '& when not (@autoSize)': {'height': '100%'}};
}

.cid-vay2VJ0S3E {
  background-color: #ffffff;
}
.cid-vay2VJ0S3E .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-vay2VJ0S3E .item:focus, span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-vay2VJ0S3E .item {
    margin-bottom: 1rem;
  }
}
.cid-vay2VJ0S3E .item {
  margin-bottom: 2rem;
}
.cid-vay2VJ0S3E .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vay2VJ0S3E .mbr-section-title {
  color: #000000;
}
.cid-vay2VJ0S3E .mbr-text, .mbr-section-btn {
  color: #000000;
}
.cid-vay2VJ0S3E .item-title {
  color: #000000;
}
.cid-vay2VJ0S3E .content-head {
  max-width: 800px;
}
.cid-vay2VJ0S3E {
  padding-top: 5rem;
  padding-bottom: 3rem;
  img, .item-img: {'width': '100%', '& when (@autoSize)': {'height': '100%', 'object-fit': 'cover', '& when (@showCardTitle)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showCardSubtitle)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showText)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showButtons)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}}};
}

.cid-vay2VJ3FzO {
  background-color: #ffffff;
}
.cid-vay2VJ3FzO .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-vay2VJ3FzO .item:focus, span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-vay2VJ3FzO .item {
    margin-bottom: 1rem;
  }
}
.cid-vay2VJ3FzO .item {
  margin-bottom: 2rem;
}
.cid-vay2VJ3FzO .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vay2VJ3FzO .mbr-section-title {
  color: #232323;
}
.cid-vay2VJ3FzO .mbr-text, .mbr-section-btn {
  color: #232323;
}
.cid-vay2VJ3FzO .item-title {
  color: #232323;
}
.cid-vay2VJ3FzO .content-head {
  max-width: 800px;
}
.cid-vay2VJ3FzO {
  padding-top: 6rem;
  padding-bottom: 6rem;
  img, .item-img: {'width': '100%', '& when (@autoSize)': {'height': '100%', 'object-fit': 'cover', '& when (@showCardTitle)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showText)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showButtons)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}}};
}

.cid-vay2VJ4BUp .mbr-section-title {
  text-align: center;
  color: #660708;
}
.cid-vay2VJ4BUp .mbr-section-subtitle {
  text-align: center;
  color: #000000;
}
.cid-vay2VJ4BUp {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}

.cid-vay2VJ4RO9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-vay2VJ4RO9 {
  background-color: if(@transparentBg, transparent, @bg-value);
}
.cid-vay2VJ4RO9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-vay2VJ4RO9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vay2VJ4RO9 .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-vay2VJ4RO9 .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-vay2VJ4RO9 .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-vay2VJ4RO9 .text-wrapper {
  padding: 4rem 3rem;
}
.cid-vay2VJ4RO9 .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-vay2VJ4RO9 .row {
  flex-direction: row-reverse;
}
.cid-vay2VJ4RO9 .image-wrapper {
  padding: 0 1rem;
}
.cid-vay2VJ4RO9 .mbr-section-title {
  color: #000000;
}
.cid-vay2VJ4RO9 .mbr-text {
  color: #000000;
}
.cid-vay2VJ4RO9 {
  img, .image-wrapper: {'height': '(@imageHeight * 100px)', 'object-fit': 'cover', '@media (max-width: 767px)': {'max-height': '350px'}};
}

.cid-vay2VJ4zOp {
  background-color: #ffffff;
}
.cid-vay2VJ4zOp .item:focus, span:focus {
  outline: none;
}
.cid-vay2VJ4zOp .item {
  cursor: pointer;
}
@media (max-width: 767px) {
  .cid-vay2VJ4zOp .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-vay2VJ4zOp .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-vay2VJ4zOp .grid-container-1, .grid-container-2, .grid-container-3 {
    gap: 0 1rem;
  }
}
.cid-vay2VJ4zOp .grid-container-1, .grid-container-2, .grid-container-3 {
  gap: 0 2rem;
}
.cid-vay2VJ4zOp .mbr-section-title {
  color: #000000;
}
.cid-vay2VJ4zOp .mbr-text, .mbr-section-btn {
  color: #000000;
}
.cid-vay2VJ4zOp .content-head {
  max-width: 800px;
}
.cid-vay2VJ4zOp .container, .container-fluid {
  overflow: hidden;
}
.cid-vay2VJ4zOp .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-vay2VJ4zOp .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-vay2VJ4zOp .grid-item img {
    min-width: 35vw;
  }
}
.cid-vay2VJ4zOp .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.cid-vay2VJ4zOp .grid-container-1, .grid-container-2, .grid-container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-vay2VJ4zOp .grid-container-1 {
  align-items: flex-end;
}
.cid-vay2VJ4zOp .grid-container-2 {
  align-items: flex-start;
}
.cid-vay2VJ4zOp {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cid-vay2VJ5vRq {
  background-color: if(@transparentBg, transparent, @bg-value);
}
.cid-vay2VJ5vRq .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-vay2VJ5vRq .panel-group {
  border: none;
}
@media (max-width: 767px) {
  .cid-vay2VJ5vRq .card-header {
    padding: 0rem;
  }
}
.cid-vay2VJ5vRq .card-header {
  padding: 0rem;
}
.cid-vay2VJ5vRq .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-vay2VJ5vRq .img-col {
  padding: 0;
}
.cid-vay2VJ5vRq .img-item {
  height: 100%;
}
.cid-vay2VJ5vRq .collapsed {
  span: {'transform': 'rotate(0deg)'};
}
.cid-vay2VJ5vRq .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-vay2VJ5vRq .panel-title-edit {
  color: #000000;
}
.cid-vay2VJ5vRq .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
@media (max-width: 767px) {
  .cid-vay2VJ5vRq .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vay2VJ5vRq .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-vay2VJ5vRq .card {
  background: #ffffff;
  padding: 2.25rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.cid-vay2VJ5vRq .panel-text {
  color: #000000;
}
.cid-vay2VJ5vRq .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-vay2VJ5vRq .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-vay2VJ5vRq .panel-title-edit, .mbr-iconfont {
  color: #000000;
}
.cid-vay2VJ5vRq {
  padding-top: 5rem;
  padding-bottom: 5rem;
  img: {'height': '100%', 'object-fit': 'cover'};
  p: {'margin-bottom': '0.3rem'};
}

.cid-vay2VJ59Vv {
  background-color: if(@transparentBg, transparent, @bg-value);
}
.cid-vay2VJ59Vv .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-vay2VJ59Vv .item:focus, span:focus {
  outline: none;
}
@media (max-width: 575px) {
  .cid-vay2VJ59Vv .item {
    margin-bottom: 1rem;
  }
}
.cid-vay2VJ59Vv .item {
  margin-bottom: 2rem;
}
.cid-vay2VJ59Vv .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vay2VJ59Vv .mbr-section-title {
  color: #000000;
}
.cid-vay2VJ59Vv .mbr-text, .mbr-section-btn {
  color: #000000;
}
.cid-vay2VJ59Vv .item-title {
  color: #000000;
  text-align: center;
}
.cid-vay2VJ59Vv .content-head {
  max-width: 800px;
}
.cid-vay2VJ59Vv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  img, .item-img: {'width': '100%'};
}

.cid-vay2VJ5OwP .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-vay2VJ5OwP {
  background-color: if(@transparentBg, transparent, @bg-value);
}
.cid-vay2VJ5OwP .content-head {
  max-width: 800px;
}
.cid-vay2VJ5OwP {
  padding-top: 6rem;
  padding-bottom: 6rem;
  form: {'.mbr-section-btn': {'text-align': 'center', 'width': '100%', '.btn': {'display': 'inline-flex', '@media (max-width: 991px)': {'width': '100%'}}}};
}

@media (min-width: 768px) {
  .cid-vay3MNz82a .row {
    justify-content: flex-start;
  }
  .cid-vay3MNz82a .content-wrap {
    padding: 1rem 3rem;
  }
  .cid-vay3MNz82a {
    align-items: flex-end;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vay3MNz82a .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vay3MNz82a .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vay3MNz82a .content-wrap {
    width: 100%;
  }
  .cid-vay3MNz82a {
    -webkit-align-items: center;
    align-items: flex-end;
  }
}
.cid-vay3MNz82a .mbr-fallback-image.disabled {
  display: none;
}
.cid-vay3MNz82a .mbr-fallback-image {
  background-image: url(@fallBackImage);
}
.cid-vay3MNz82a .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vay3MNz82a .mbr-section-title, .mbr-section-subtitle {
  text-align: left;
  color: #ffc091;
}
.cid-vay3MNz82a .mbr-text, .mbr-section-btn {
  text-align: left;
}
.cid-vay3MNz82a {
  display: flex;
}

.cid-vay3MO7Q3u {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.cid-vay3MO7Q3u {
  background-color: if(@transparentBg, transparent, @bg-value);
}
.cid-vay3MO7Q3u .mbr-fallback-image.disabled {
  display: none;
}
.cid-vay3MO7Q3u .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vay3MO7Q3u .row-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-vay3MO7Q3u .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vay3MO7Q3u .row {
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-vay3MO7Q3u .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-vay3MO7Q3u .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-vay3MO7Q3u .mbr-section-title {
  color: #000000;
}
.cid-vay3MO7Q3u .mbr-text, .mbr-section-btn {
  color: #000000;
}
.cid-vay3MO7Q3u {
  img: {'width': '100%', '& when (@autoSize)': {'object-fit': 'cover', 'height': '(@imageHeight * 10rem)', '@media (max-width: 767px)': {'height': '(@imageHeight * 5rem)'}}, '& when not (@autoSize)': {'height': '100%'}};
}

.cid-vay3MOEpbl {
  background-color: #ffffff;
}
.cid-vay3MOEpbl .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-vay3MOEpbl .item:focus, span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-vay3MOEpbl .item {
    margin-bottom: 1rem;
  }
}
.cid-vay3MOEpbl .item {
  margin-bottom: 2rem;
}
.cid-vay3MOEpbl .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vay3MOEpbl .mbr-section-title {
  color: #000000;
}
.cid-vay3MOEpbl .mbr-text, .mbr-section-btn {
  color: #000000;
}
.cid-vay3MOEpbl .item-title {
  color: #000000;
}
.cid-vay3MOEpbl .content-head {
  max-width: 800px;
}
.cid-vay3MOEpbl {
  padding-top: 5rem;
  padding-bottom: 3rem;
  img, .item-img: {'width': '100%', '& when (@autoSize)': {'height': '100%', 'object-fit': 'cover', '& when (@showCardTitle)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showCardSubtitle)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showText)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showButtons)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}}};
}

.cid-vay3MPeekK {
  background-color: #ffffff;
}
.cid-vay3MPeekK .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-vay3MPeekK .item:focus, span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-vay3MPeekK .item {
    margin-bottom: 1rem;
  }
}
.cid-vay3MPeekK .item {
  margin-bottom: 2rem;
}
.cid-vay3MPeekK .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vay3MPeekK .mbr-section-title {
  color: #232323;
}
.cid-vay3MPeekK .mbr-text, .mbr-section-btn {
  color: #232323;
}
.cid-vay3MPeekK .item-title {
  color: #232323;
}
.cid-vay3MPeekK .content-head {
  max-width: 800px;
}
.cid-vay3MPeekK {
  padding-top: 6rem;
  padding-bottom: 6rem;
  img, .item-img: {'width': '100%', '& when (@autoSize)': {'height': '100%', 'object-fit': 'cover', '& when (@showCardTitle)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showText)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showButtons)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}}};
}

.cid-vay3MPXapn .mbr-section-title {
  text-align: center;
  color: #660708;
}
.cid-vay3MPXapn .mbr-section-subtitle {
  text-align: center;
  color: #000000;
}
.cid-vay3MPXapn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}

.cid-vay3MQgtcG {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-vay3MQgtcG {
  background-color: if(@transparentBg, transparent, @bg-value);
}
.cid-vay3MQgtcG .mbr-fallback-image.disabled {
  display: none;
}
.cid-vay3MQgtcG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vay3MQgtcG .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-vay3MQgtcG .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-vay3MQgtcG .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-vay3MQgtcG .text-wrapper {
  padding: 4rem 3rem;
}
.cid-vay3MQgtcG .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-vay3MQgtcG .row {
  flex-direction: row-reverse;
}
.cid-vay3MQgtcG .image-wrapper {
  padding: 0 1rem;
}
.cid-vay3MQgtcG .mbr-section-title {
  color: #000000;
}
.cid-vay3MQgtcG .mbr-text {
  color: #000000;
}
.cid-vay3MQgtcG {
  img, .image-wrapper: {'height': '(@imageHeight * 100px)', 'object-fit': 'cover', '@media (max-width: 767px)': {'max-height': '350px'}};
}

.cid-vay3MQGEfn {
  background-color: #ffffff;
}
.cid-vay3MQGEfn .item:focus, span:focus {
  outline: none;
}
.cid-vay3MQGEfn .item {
  cursor: pointer;
}
@media (max-width: 767px) {
  .cid-vay3MQGEfn .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-vay3MQGEfn .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-vay3MQGEfn .grid-container-1, .grid-container-2, .grid-container-3 {
    gap: 0 1rem;
  }
}
.cid-vay3MQGEfn .grid-container-1, .grid-container-2, .grid-container-3 {
  gap: 0 2rem;
}
.cid-vay3MQGEfn .mbr-section-title {
  color: #000000;
}
.cid-vay3MQGEfn .mbr-text, .mbr-section-btn {
  color: #000000;
}
.cid-vay3MQGEfn .content-head {
  max-width: 800px;
}
.cid-vay3MQGEfn .container, .container-fluid {
  overflow: hidden;
}
.cid-vay3MQGEfn .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-vay3MQGEfn .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-vay3MQGEfn .grid-item img {
    min-width: 35vw;
  }
}
.cid-vay3MQGEfn .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.cid-vay3MQGEfn .grid-container-1, .grid-container-2, .grid-container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-vay3MQGEfn .grid-container-1 {
  align-items: flex-end;
}
.cid-vay3MQGEfn .grid-container-2 {
  align-items: flex-start;
}
.cid-vay3MQGEfn {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cid-vay3MR3S4V {
  background-color: if(@transparentBg, transparent, @bg-value);
}
.cid-vay3MR3S4V .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-vay3MR3S4V .panel-group {
  border: none;
}
@media (max-width: 767px) {
  .cid-vay3MR3S4V .card-header {
    padding: 0rem;
  }
}
.cid-vay3MR3S4V .card-header {
  padding: 0rem;
}
.cid-vay3MR3S4V .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-vay3MR3S4V .img-col {
  padding: 0;
}
.cid-vay3MR3S4V .img-item {
  height: 100%;
}
.cid-vay3MR3S4V .collapsed {
  span: {'transform': 'rotate(0deg)'};
}
.cid-vay3MR3S4V .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-vay3MR3S4V .panel-title-edit {
  color: #000000;
}
.cid-vay3MR3S4V .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
@media (max-width: 767px) {
  .cid-vay3MR3S4V .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vay3MR3S4V .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-vay3MR3S4V .card {
  background: #ffffff;
  padding: 2.25rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.cid-vay3MR3S4V .panel-text {
  color: #000000;
}
.cid-vay3MR3S4V .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-vay3MR3S4V .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-vay3MR3S4V .panel-title-edit, .mbr-iconfont {
  color: #000000;
}
.cid-vay3MR3S4V {
  padding-top: 5rem;
  padding-bottom: 5rem;
  img: {'height': '100%', 'object-fit': 'cover'};
  p: {'margin-bottom': '0.3rem'};
}

.cid-vay3MRxISH {
  background-color: if(@transparentBg, transparent, @bg-value);
}
.cid-vay3MRxISH .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-vay3MRxISH .item:focus, span:focus {
  outline: none;
}
@media (max-width: 575px) {
  .cid-vay3MRxISH .item {
    margin-bottom: 1rem;
  }
}
.cid-vay3MRxISH .item {
  margin-bottom: 2rem;
}
.cid-vay3MRxISH .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vay3MRxISH .mbr-section-title {
  color: #000000;
}
.cid-vay3MRxISH .mbr-text, .mbr-section-btn {
  color: #000000;
}
.cid-vay3MRxISH .item-title {
  color: #000000;
  text-align: center;
}
.cid-vay3MRxISH .content-head {
  max-width: 800px;
}
.cid-vay3MRxISH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  img, .item-img: {'width': '100%'};
}

.cid-vay3MSL4Wh .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-vay3MSL4Wh {
  background-color: if(@transparentBg, transparent, @bg-value);
}
.cid-vay3MSL4Wh .content-head {
  max-width: 800px;
}
.cid-vay3MSL4Wh {
  padding-top: 6rem;
  padding-bottom: 6rem;
  form: {'.mbr-section-btn': {'text-align': 'center', 'width': '100%', '.btn': {'display': 'inline-flex', '@media (max-width: 991px)': {'width': '100%'}}}};
}