

.cid-tHeG7yune1 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: \e966;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-tHeG7yune1 .navbar-toggler {
    transform: scale(0.8);
  }
}
@media (min-width: 992px) {
  .cid-tHeG7yune1 .navbar-nav {
    max-width: 45%;
  }
}
.cid-tHeG7yune1 .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: .3s all !important;
  &:hover: {'background-color': 'rgba(27, 31, 10, 0.06)'};
}
.cid-tHeG7yune1 .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
}
@media (min-width: 992px) {
  .cid-tHeG7yune1 .navbar-nav .open .nav-link {
    &::before: {'content': '""', 'width': '100%', 'height': '20px', 'top': '100%', 'background': 'transparent', 'position': 'absolute'};
  }
}
.cid-tHeG7yune1 .navbar-nav .open .nav-link {
  &::after: {'transform': 'rotate(180deg)'};
}
.cid-tHeG7yune1 .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: .3s all !important;
  &:hover: {'background-color': 'rgba(27, 31, 10, 0.06)'};
}
@media (min-width: 992px) {
  .cid-tHeG7yune1 .navbar-nav {
    padding-left: 1.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tHeG7yune1 .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-tHeG7yune1 .navbar-nav {
  margin: auto;
  margin-left: 0;
}
@media (min-width: 992px) {
  .cid-tHeG7yune1 .navbar-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) {
  .cid-tHeG7yune1 .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-tHeG7yune1 .navbar-logo {
  padding-left: 1rem;
  margin: 0 !important;
}
.cid-tHeG7yune1 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tHeG7yune1 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tHeG7yune1 .navbar-brand {
  img: {'border-radius': '0px !important'};
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tHeG7yune1 .nav-link {
  width: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .cid-tHeG7yune1 .navbar-caption {
    padding-left: 1rem;
  }
}
.cid-tHeG7yune1 .navbar-caption {
  padding-left: 2rem;
  padding-right: .5rem;
}
@media (max-width: 767px) {
  .cid-tHeG7yune1 .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-tHeG7yune1 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-tHeG7yune1 .container {
  background: rgba(red(@menuBgColor), green(@menuBgColor), blue(@menuBgColor), @opacity) !important;
}
@media (max-width: 992px) {
  .cid-tHeG7yune1 .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tHeG7yune1 .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-tHeG7yune1 .container {
  display: flex;
  height: 90px;
  position: relative;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #0225ac;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
.cid-tHeG7yune1 .iconfont-wrapper {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tHeG7yune1 .dropdown-menu {
  background: rgba(red(@menuBgColor), green(@menuBgColor), blue(@menuBgColor), @opacity) !important;
}
.cid-tHeG7yune1 .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: .3s all !important;
  min-width: auto;
  background: #0225ac;
}
.cid-tHeG7yune1 .nav-item:focus, .nav-link:focus {
  outline: none;
}
.cid-tHeG7yune1 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
  &:before: {'display': 'inline-block', 'transform': 'scale(1, 1)', 'transition': 'all 0.25s ease-in-out'};
}
.cid-tHeG7yune1 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
  &::after: {'right': '0.5rem'};
}
.cid-tHeG7yune1 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tHeG7yune1 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tHeG7yune1 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tHeG7yune1 .navbar .navbar-logo img {
  width: auto;
}
.cid-tHeG7yune1 .navbar .navbar-collapse {
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .cid-tHeG7yune1 .navbar .navbar-logo {
    img: {'height': '2rem !important'};
  }
  .cid-tHeG7yune1 .navbar {
    min-height: 72px;
  }
}
@media (max-width: 991px) {
  .cid-tHeG7yune1 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tHeG7yune1 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tHeG7yune1 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tHeG7yune1 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tHeG7yune1 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tHeG7yune1 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-tHeG7yune1 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tHeG7yune1 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .cid-tHeG7yune1 .navbar {
    &.opened: {'.dropdown-menu': {'top': '0'}};
    ul.navbar-nav: {'li': {}};
  }
}
.cid-tHeG7yune1 .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  &:not(.navbar-short): {};
  &.opened: {'transition': 'all 0.3s'};
  &.collapsed: {'justify-content': 'center', '.nav-item .nav-link::before': {'display': 'none'}, '&.opened': {'.dropdown-menu': {'top': '0'}, '@media (min-width: 992px)': {'&:not(.navbar-short) .navbar-collapse when (@showLogo)': {'max-height': '~"calc(98.5vh - @{logoSize}rem)"'}}}, '.dropdown-menu': {'.dropdown-submenu': {'left': '0 !important'}, '.dropdown-item:after': {'right': 'auto'}, '.dropdown-toggle[data-toggle="dropdown-submenu"]:after': {'margin-left': '0.5rem', 'margin-top': '0.2rem', 'border-top': '0.35em solid', 'border-right': '0.35em solid transparent', 'border-left': '0.35em solid transparent', 'border-bottom': '0', 'top': '41%'}}, 'ul.navbar-nav': {'li': {'margin': 'auto'}}, '.dropdown-menu .dropdown-item': {'padding': '0.25rem 1.5rem', 'text-align': 'center'}, '.icons-menu': {'padding-left': '0', 'padding-right': '0', 'padding-top': '0.5rem', 'padding-bottom': '0.5rem'}};
  &.navbar-short: {'.navbar-logo': {'img': {'height': '2rem'}}};
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-tHeG7yune1 .dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
}
.cid-tHeG7yune1 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tHeG7yune1 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
  &[aria-expanded="true"]: {'margin-right': '0', 'padding': '0.667em 1.667em'};
}
.cid-tHeG7yune1 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-tHeG7yune1 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #0225ac;
}
.cid-tHeG7yune1 .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
@media (max-width: 992px) {
  .cid-tHeG7yune1 .navbar-buttons {
    text-align: left;
  }
}
.cid-tHeG7yune1 .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
.cid-tHeG7yune1 .navbar-dropdown {
  padding: 0 1rem;
}
@media (max-width: 992px) {
  .cid-tHeG7yune1 .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
.cid-tHeG7yune1 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (~'-ms-high-contrast: active'), (~'-ms-high-contrast: none') {
  .cid-tHeG7yune1 .navbar {
    height: 70px;
    &.opened: {'height': 'auto'};
  }
  .cid-tHeG7yune1 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% ~"+" 2rem);
    left: -1rem;
  }
}
.cid-tHeG7yune1 .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-tHeG7yune1 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
  &::after: {'display': 'inline-block', 'position': 'static', 'margin-left': '0.5rem', 'margin-top': '0', 'margin-right': '0', 'margin-bottom': '0', 'transition': '.3s all', 'transform': 'rotate(-90deg)'};
}
.cid-tHeG7yune1 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item {
  &::after: {'transform': 'rotate(0deg)'};
}
.cid-tHeG7yune1 .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(~'100% + 20px');
  left: 50%;
}
.cid-tHeG7yune1 .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-tHeG7yune1 .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-tHeG7yune1 .navbar-brand {
    margin-right: auto;
  }
  .cid-tHeG7yune1 .navbar-collapse {
    opacity: 1;
    border-color: rgba(red(@menuBgColor), green(@menuBgColor), blue(@menuBgColor), @opacity) !important;
    background: rgba(red(@menuBgColor), green(@menuBgColor), blue(@menuBgColor), @opacity) !important;
  }
  .cid-tHeG7yune1 .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #0225ac;
    backdrop-filter: blur(8px);
  }
  .cid-tHeG7yune1 .navbar-nav .nav-item .nav-link {
    &::after: {'margin-left': '10px'};
  }
  .cid-tHeG7yune1 .navbar-nav .dropdown-item {
    &:hover: {'background-color': 'rgba(27, 31, 10, 0.06)'};
  }
  .cid-tHeG7yune1 .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-tHeG7yune1 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
    &::after: {'display': 'inline-block', 'position': 'static', 'margin-left': '0.5rem', 'margin-top': '0', 'margin-right': '0', 'margin-bottom': '0', 'transition': '.3s all', 'transform': 'rotate(0deg)'};
  }
  .cid-tHeG7yune1 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item {
    &::after: {'transform': 'rotate(180deg)'};
  }
  .cid-tHeG7yune1 .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tHeG7yune1 .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tHeG7yune1 .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-tHeG7yune1 .navbar-collapse {
    padding: 1rem;
  }
}
.cid-tHeG7yune1 {
  z-index: 1000;
  width: 100%;
  ul.navbar-nav: {'flex-wrap': 'wrap'};
  button.navbar-toggler: {'outline': 'none', 'width': '31px', 'height': '20px', 'cursor': 'pointer', 'transition': 'all 0.2s', 'position': 'relative', 'align-self': 'center', '.hamburger span': {'position': 'absolute', 'right': '0', 'width': '30px', 'height': '2px', 'border-right': '5px', 'background-color': '@hamburgerColor', '&:nth-child(1)': {'top': '0', 'transition': 'all 0.2s'}, '&:nth-child(2)': {'top': '8px', 'transition': 'all 0.15s'}, '&:nth-child(3)': {'top': '8px', 'transition': 'all 0.15s'}, '&:nth-child(4)': {'top': '16px', 'transition': 'all 0.2s'}}};
  nav.opened .hamburger span: {'&:nth-child(1)': {'top': '8px', 'width': '0', 'opacity': '0', 'right': '50%', 'transition': 'all 0.2s'}, '&:nth-child(2)': {'transform': 'rotate(45deg)', 'transition': 'all 0.25s'}, '&:nth-child(3)': {'transform': 'rotate(-45deg)', 'transition': 'all 0.25s'}, '&:nth-child(4)': {'top': '8px', 'width': '0', 'opacity': '0', 'right': '50%', 'transition': 'all 0.2s'}};
  a.nav-link: {'display': 'flex', 'align-items': 'center', 'justify-content': 'center'};
}

.cid-tIsi3HZcCy {
  background: #0225ac;
}
.cid-tIsi3HZcCy .mbr-fallback-image.disabled {
  display: none;
}
.cid-tIsi3HZcCy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tIsi3HZcCy .team-card {
  margin-bottom: 1rem;
  transition: all 0.3s;
  &:hover: {'transform': 'translateY(-10px)'};
}
.cid-tIsi3HZcCy .card1 {
  background: #ffaac7;
}
.cid-tIsi3HZcCy .card2 {
  background: #008063;
}
.cid-tIsi3HZcCy .card3 {
  background: #ffa600;
}
.cid-tIsi3HZcCy .card4 {
  background: #2e481a;
}
.cid-tIsi3HZcCy .image-wrap .social-row {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
.cid-tIsi3HZcCy .image-wrap {
  padding-bottom: 0rem;
  position: relative;
}
@media (max-width: 767px) {
  .cid-tIsi3HZcCy .card-wrap {
    margin-bottom: 1rem;
  }
}
.cid-tIsi3HZcCy .card-wrap .image-wrap img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tIsi3HZcCy .card-wrap .content-wrap .content-footer {
  margin-top: auto;
}
@media (min-width: 768px) {
  .cid-tIsi3HZcCy .card-wrap .content-wrap {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-tIsi3HZcCy .card-wrap .content-wrap {
    padding: 1.5rem;
  }
}
.cid-tIsi3HZcCy .card-wrap .content-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-tIsi3HZcCy .card-wrap {
  margin-bottom: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cid-tIsi3HZcCy .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 1.5rem;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}
.cid-tIsi3HZcCy .tag1 {
  background: #ffaac7;
  color: #502274;
}
.cid-tIsi3HZcCy .tag2 {
  background: #008063;
  color: #ffd7ef;
}
.cid-tIsi3HZcCy .tag3 {
  background: #ffa600;
  color: #232323;
  text-align: right;
}
.cid-tIsi3HZcCy .tag4 {
  background: #2e481a;
  color: #ffffff;
}
.cid-tIsi3HZcCy .card-text3, .mbr-section-btn {
  color: #232323;
}
.cid-tIsi3HZcCy .card-text2, .mbr-section-btn {
  color: #ffd7ef;
}
.cid-tIsi3HZcCy .card-text1, .mbr-section-btn {
  color: #502274;
}
.cid-tIsi3HZcCy .card-title2, .social-row {
  color: #ff8cbc;
}
.cid-tIsi3HZcCy .mbr-role3, .social-row {
  color: #ffffff;
}
.cid-tIsi3HZcCy .card-title3, .social-row {
  color: #320707;
}
.cid-tIsi3HZcCy .card-title4, .social-row {
  color: #ffffff;
}
.cid-tIsi3HZcCy .mbr-role3 {
  color: #232323;
}
.cid-tIsi3HZcCy .mbr-role2 {
  color: #ffd7ef;
}
.cid-tIsi3HZcCy .mbr-role4 {
  color: #ffffff;
}
.cid-tIsi3HZcCy .card-text4, .mbr-section-btn {
  color: #ffffff;
}
.cid-tIsi3HZcCy .mbr-section-title {
  text-align: center;
  color: #ffaac7;
}
.cid-tIsi3HZcCy .card-title1, .social-row {
  color: #260a30;
}
.cid-tIsi3HZcCy .card-text2, .card2 .mbr-section-btn {
  color: #d70081;
}
.cid-tIsi3HZcCy .card-text1, .card1 .mbr-section-btn {
  color: #f92c50;
}
.cid-tIsi3HZcCy .card-text3, .card3 .mbr-section-btn {
  color: #000000;
}
.cid-tIsi3HZcCy {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cid-tIsj2q7oBw {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.cid-tIsj2q7oBw {
  background-color: #ffaac7;
}
.cid-tIsj2q7oBw .mbr-fallback-image.disabled {
  display: none;
}
.cid-tIsj2q7oBw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tIsj2q7oBw .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-tIsj2q7oBw .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-tIsj2q7oBw .text-wrapper {
  padding: 4rem 3rem;
}
.cid-tIsj2q7oBw .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-tIsj2q7oBw .row {
  flex-direction: row-reverse;
}
.cid-tIsj2q7oBw .image-wrapper {
  padding: 0 0.75rem;
}
.cid-tIsj2q7oBw .mbr-section-title {
  color: #1a3c22;
}
.cid-tIsj2q7oBw .mbr-text {
  color: #000000;
}
.cid-tIsj2q7oBw .mbr-text, .mbr-section-btn {
  color: #1a3c22;
}
.cid-tIsj2q7oBw {
  img, .image-wrapper: {'height': '(@imageHeight * 100px)', 'border-radius': '2rem', 'object-fit': 'cover'};
}

.cid-tIsjhWS5IM {
  background-color: #008063;
}
.cid-tIsjhWS5IM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tIsjhWS5IM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tIsjhWS5IM .item {
  padding-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tIsjhWS5IM .item {
    padding-bottom: 1rem;
  }
}
.cid-tIsjhWS5IM .item-wrapper {
  height: 100%;
}
.cid-tIsjhWS5IM .item-wrapper {
  img: {'height': '100%', 'object-fit': 'cover'};
}
.cid-tIsjhWS5IM .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  color: #464845 !important;
  transform: translateX(-50%) translateY(-50%);
  background-color: #edefea !important;
  transition: 0.2s;
}
.cid-tIsjhWS5IM .item-wrapper {
  position: relative;
  &:hover: {'.icon-wrapper': {'opacity': '1'}};
}
.cid-tIsjhWS5IM .carousel-control, .close {
  background: #1b1b1b;
}
.cid-tIsjhWS5IM .carousel-control-prev {
  margin-left: 2.5rem;
  span: {'margin-right': '5px'};
}
.cid-tIsjhWS5IM .carousel-control-next {
  margin-right: 2.5rem;
  span: {'margin-left': '5px'};
}
.cid-tIsjhWS5IM .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: Moririse2;
  align-items: center;
  justify-content: center;
  display: flex;
  &::before: {'content': "'\\e91a'"};
  &:hover: {'opacity': '1', 'background': '#000', 'color': '#fff'};
}
@media (max-width: 767px) {
  .cid-tIsjhWS5IM .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tIsjhWS5IM .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  &.carousel-control-prev: {'left': '0', 'margin-left': '2.5rem'};
  &.carousel-control-next: {'right': '0', 'margin-right': '2.5rem'};
}
@media (max-width: 768px) {
  .cid-tIsjhWS5IM .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tIsjhWS5IM .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tIsjhWS5IM .carousel-indicators {
    display: none;
  }
}
.cid-tIsjhWS5IM .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  li: {'max-width': '15px', 'height': '15px', 'width': '15px', 'max-height': '15px', 'margin': '3px', 'background-color': 'rgba(0, 0, 0, 0.5)', 'border': '2px solid #fff', 'border-radius': '50%', 'opacity': '0.5', 'transition': 'all 0.3s', '&.active, &:hover': {'opacity': '0.9'}, '&::after, &::before': {'content': 'none'}};
  &.ie-fix: {'left': '50%', 'display': 'block', 'width': '60%', 'margin-left': '-30%', 'text-align': 'center'};
}
.cid-tIsjhWS5IM .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tIsjhWS5IM .carousel-inner > .active {
  display: block;
}
.cid-tIsjhWS5IM .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tIsjhWS5IM .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tIsjhWS5IM .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tIsjhWS5IM .carousel-control, .carousel-indicators, .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tIsjhWS5IM .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tIsjhWS5IM .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tIsjhWS5IM .carousel-indicators .active, .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tIsjhWS5IM .carousel-indicators .active {
  background: #fff;
}
.cid-tIsjhWS5IM .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tIsjhWS5IM .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tIsjhWS5IM .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tIsjhWS5IM .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tIsjhWS5IM .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
  img: {'width': '100%', 'object-fit': 'contain', 'max-height': '~"calc(100vh - 1.75rem)"'};
}
.cid-tIsjhWS5IM .carousel {
  width: 100%;
}
.cid-tIsjhWS5IM .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tIsjhWS5IM .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tIsjhWS5IM .modal.fade .modal-dialog, .modal.in .modal-dialog {
  transform: none;
}
.cid-tIsjhWS5IM .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tIsjhWS5IM {
  padding-top: 6rem;
  padding-bottom: 6rem;
  H6: {'text-align': 'center'};
  H3: {'color': '#ff8cbc'};
}

.cid-tIsjMsRA0K {
  background-color: #edefeb;
}
@media (max-width: 767px) {
  .cid-tIsjMsRA0K .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-tIsjMsRA0K .item-mb {
  margin-bottom: 2rem;
}
.cid-tIsjMsRA0K .item-head {
  background: #ffa600;
  padding: 2.25rem;
}
.cid-tIsjMsRA0K .item-content {
  padding: 2rem 2rem 0;
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-tIsjMsRA0K .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tIsjMsRA0K .item-wrapper .item-footer {
    padding: 0 2rem 3rem;
  }
}
.cid-tIsjMsRA0K .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #ffffff;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tIsjMsRA0K .btn {
  width: -webkit-fill-available;
}
.cid-tIsjMsRA0K .item:focus, span:focus {
  outline: none;
}
@media (max-width: 991px) {
  .cid-tIsjMsRA0K .mbr-section-btn {
    padding: 0rem 3rem 2rem;
  }
}
.cid-tIsjMsRA0K .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
.cid-tIsjMsRA0K .mbr-section-title {
  color: #0225ac;
}
.cid-tIsjMsRA0K .mbr-section-subtitle {
  color: #000000;
}
.cid-tIsjMsRA0K .mbr-text, .mbr-section-btn {
  text-align: left;
}
.cid-tIsjMsRA0K .item-title {
  text-align: left;
  color: #000000;
}
.cid-tIsjMsRA0K .item-subtitle {
  text-align: left;
  color: #000000;
}
.cid-tIsjMsRA0K {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cid-tIskrx6sZd .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tIskrx6sZd {
  background-color: #008063;
}
.cid-tIskrx6sZd .mbr-section-title {
  color: #ff8cbc;
}
.cid-tIskrx6sZd {
  padding-top: 6rem;
  padding-bottom: 6rem;
  form: {'.mbr-section-btn': {'text-align': 'center', 'width': '100%', '.btn': {'display': 'inline-flex', '@media (max-width: 991px)': {'width': '100%'}}}};
}

.cid-tIsokmLLOC {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tIsokmLLOC .btn {
  height: 100%;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tIsokmLLOC .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tIsokmLLOC .row {
  justify-content: center;
}
.cid-tIsokmLLOC .mbr-section-btn .btn {
  width: auto;
}
.cid-tIsokmLLOC .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: fit-content;
}
@media (max-width: 991px) {
  .cid-tIsokmLLOC .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tIsokmLLOC .content-wrapper {
    flex-direction: column-reverse;
  }
}
.cid-tIsokmLLOC .justify-content-center {
  align-items: center;
}
.cid-tIsokmLLOC .mbr-section-title {
  text-align: center;
  color: #ffd7ef;
}
.cid-tIsokmLLOC {
  background-color: #260a30;
  input: {'padding': '1.2rem 1.5rem', 'border': 'none !important', 'height': '100%', '&:hover': {'border': 'none !important'}};
  H1: {'color': '#d2dc1d'};
  P: {'color': '#d2dc1d', 'text-align': 'center'};
}

.cid-tIsl0U2P9c {
  background-color: #edefeb;
}
.cid-tIsl0U2P9c .mbr-fallback-image.disabled {
  display: none;
}
.cid-tIsl0U2P9c .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tIsl0U2P9c .row {
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-tIsl0U2P9c .item {
    margin-bottom: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tIsl0U2P9c .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tIsl0U2P9c .item .item-wrapper {
    padding: 2.25rem;
  }
}
.cid-tIsl0U2P9c .item .item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;
  background: #ffffff;
}
.cid-tIsl0U2P9c .item {
  margin-bottom: 2rem;
}
.cid-tIsl0U2P9c .mbr-section-title {
  text-align: left;
  color: #0225ac;
}
.cid-tIsl0U2P9c {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cid-tIsljcLokI {
  background-color: #6c1ec5;
}
.cid-tIsljcLokI .item-subtitle {
  line-height: 1.2;
  color: #ffaac7;
}
.cid-tIsljcLokI .item:focus, span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-tIsljcLokI .item {
    margin-bottom: 1rem;
  }
}
.cid-tIsljcLokI .item {
  margin-bottom: 2rem;
}
.cid-tIsljcLokI .item-wrapper .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-tIsljcLokI .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tIsljcLokI .item-footer {
  margin-top: auto;
}
.cid-tIsljcLokI .mbr-section-title {
  color: #ffaac7;
  text-align: left;
}
.cid-tIsljcLokI .mbr-text, .mbr-section-btn {
  color: #232323;
}
.cid-tIsljcLokI .item-title {
  color: #ffaac7;
}
.cid-tIsljcLokI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  img, .item-img: {'width': '100%', '& when (@autoSize)': {'height': '100%', 'object-fit': 'cover', '& when (@showCardTitle)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showCardSubtitle)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showText)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}, '& when (@showButtons)': {'height': '(@imageHeight * 100px)', 'object-fit': 'cover'}}};
}

.cid-tHfEgJYxcL {
  background-color: #6c1ec5;
}
.cid-tHfEgJYxcL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHfEgJYxcL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-tHfEgJYxcL .footer-col {
    flex-direction: column;
  }
}
.cid-tHfEgJYxcL .footer-col {
  justify-content: space-between;
  display: flex;
}
@media (max-width: 767px) {
  .cid-tHfEgJYxcL .row {
    padding: 2rem 1.5rem;
  }
}
.cid-tHfEgJYxcL .row {
  background: #ffffff;
  padding: 2.25rem;
  border-radius: 2rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHfEgJYxcL .mbr-section-btn {
    text-align: center;
  }
}
.cid-tHfEgJYxcL .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tHfEgJYxcL .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffa600;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
}
@media (max-width: 767px) {
  .cid-tHfEgJYxcL .row {
    text-align: center;
  }
  .cid-tHfEgJYxcL .social-row {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .cid-tHfEgJYxcL .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tHfEgJYxcL .list {
    margin-bottom: 0rem;
  }
}
.cid-tHfEgJYxcL .list {
  list-style: none;
  padding-left: 0;
  color: #502274;
}
.cid-tHfEgJYxcL .mbr-text {
  color: #bbbbbb;
}
.cid-tHfEgJYxcL .mbr-iconfont {
  color: #ffffff;
}
.cid-tHfEgJYxcL .mbr-section-subtitle {
  color: #000000;
}
.cid-tHfEgJYxcL .list, .item-wrap {
  color: #232323;
}
.cid-tHfEgJYxcL .copyright {
  color: #232323;
}
.cid-tHfEgJYxcL {
  padding-top: 5rem;
  padding-bottom: 5rem;
}